@model IEnumerable<Shop.Models.orders>

@{
    ViewData["Title"] = "myorders";
}
@{
    Layout = "~/Views/Shared/_Layout_user.cshtml";
}
<h1>Purchase History</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.bookId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.orderdate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.bookId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.orderdate)
            </td>
        </tr>
}
    </tbody>
</table>
